body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.album-cover {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.5s ease;
    overflow: hidden;
}

.album-cover:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.album-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: none;
}

.album-cover div {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    box-sizing: border-box;
}

.album-cover div button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.album-cover div button:hover {
    transform: scale(1.3);
}

.back-button {
    font-size: 1.2em;
    margin: 20px;
    cursor: pointer;
    color: #007BFF;
    text-decoration: underline;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
}

.overlay img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    opacity: 1;
    transition: none;
}

.overlay.show {
    display: flex;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}